<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You've successfully booked your flight nr <%= @booking.id %></h1>
    <p>
      The entire flight booking process was successful at our odin-flight-booker.com.
    </p>
    <p>Thank you for your interest in our offer and we wish you a pleasant flight!</p>
  </body>
</html>
