/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import "font-awesome";

 body{
  background-color: #3AB4F2;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: black;
  text-shadow: 2px 2px 2px #c22a27; 
  margin-bottom: 10%;
}

h2 {
  font-size: 3rem;
  text-align: center;
  color: black;
  text-shadow: 2px 2px 2px #c22a27; 
  margin-bottom: 10%;
}

h3 {
  font-size: 2rem;
  color: black;
  text-shadow: 2px 2px 2px #c22a27; 
}

.flight-info .list-group-item, 
.passengers-info .list-group-item{
    background-color: #F2DF3A;
}

.main-view {
  background-color: #F6F6F6;
  border-radius: 2%;
  padding: 5%;
  margin: 5%;
}

.no-flights {
  background-color: #F15412;
  border-radius: 2%;
  padding: 2%;
  margin: 2%;
  color: white;
  text-align: center;
  font-size: 2rem;
}